<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/basepage" method="post">
        <label for="side1">Side 1</label><br>
        <input type="number" id="side1" name="side1"><br>
        <label for="side2">Side 2</label><br>
        <input type="number" id="side2" name="side2"><br>
        <label for="side3">Side 3</label><br>
        <input type="number" id="side3" name="side3"><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>